<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <h1>Welcome to PetFax</h1>
    <p>Our cute and cuddly pets are looking for a loving home.</p>
    <a href="../facts/new" ><button class="newFact" type="button">Add a Fun Fact</button></a>
    <a href="../facts" ><button class="view" type="button">View Fun Facts</button></a><br>
    
    {% for pet in pets %}
        <h2>{{pet.pet_name}}</h2>
        <a href="/pets/{{pet.pet_id}}">View More Info</a><br><br>
        <img src="{{pet.pet_photo}}" class="main-img" alt="Photo of {{pet.petname}}">
        
    {% endfor %}

</body>
</html>