<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div>
        <h1>Fun Animal Fax</h1>
        <form action="/facts" method="POST" name="fun_fact"> 
         <div class="container">
            <div>    
                <label for="petFact">What is your fun Fact:</label><br>
                <textarea name="petFact" id="petFact" cols="30" rows="10"></textarea>
            </div>
            <div>
            <label for="author">Your Name:</label><br>
            <input type="text" name="author" id="author" value="">
            </div>
            <input type="submit" class="newFact" value="Submit Fun Fact">  
          </div>
            
        </form>   
        <a href="/pets" ><button class="back"type="button">Back to Adoptable Pets</button></a><br>
    </div>    
</body>
</html>